# ====================================================================
# Supabase local (sobrescreve .env do projeto quando usando supabase start)
# ====================================================================
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WeoqqQmqHnVdF8n5XaJ_q2YiQ2z0vT-qLyDI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGCM96k5QUkDJ2e2WUYsF3V8Z8i5cZLc6sZqKqVqVqA

NEXT_PUBLIC_OSRM_URL=https://router.project-osrm.org
NEXT_PUBLIC_NOMINATIM_URL=https://nominatim.openstreetmap.org
NEXT_PUBLIC_MAP_PROVIDER=osm

SUPER_ADMIN_EMAIL=admin@mobilerpremium.com
